* {
    box-sizing: border-box;
}

.header {
    box-sizing: border-box;
    font-family: var(--title-font);
    margin: 0 auto;
    max-width: 1472px;
    min-height: 100px;
    padding: 4px 28px;
    width: 100%;
    background-color: #f7f7f7;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.search-bar {
    display: block;
    max-width: 500px;
    width: 100%;

    input {
        width: 90%;
        border: none;
        border-radius: 12px;
        background-color: #acacac;
        padding: 6px;
        height: 100%;
    }

    button {
        height: 100%;
    }
}

.dropbtn {
    background-color: #acacac;
    border: none;
    border-radius: 12px;
}

.user-interface {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    img {
        width: 100%;
        height: 100%;
        padding: 6px;
    }
}


.profile, .order, .favourite, .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile:hover, 
.order:hover, 
.favourite:hover, 
.cart:hover {
    color:#acacac;
    cursor: pointer;
    .image {
        border: 1px solid #acacac;

        img {
            opacity: 0.6;
        }
    }
}